* {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

form{
  display: flex;
  flex-direction: column;
  align-content: center;
}

h1 {
  font-size: 1.5em;
  color: #fff;
  margin-left: auto;
}

select,
button,
input {
  width: 70%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  outline: 0;
}

label {
  display: inline-block;
  color: #fff;
  width: 25%;
}

.combo {
  margin-top: 15px !important;

}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto 10px auto;
  cursor: pointer;
}

/* Estilos para dispositivos pequenos (celulares) */
@media only screen and (max-width: 600px) {
  main {
    padding: 10px;
  }

  select,
  button {
    margin-bottom: 10px;
  }
}